@import '../theme/colors.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background-color: $bg-color;
    .app-container{
        padding: 0 5%;
    }
}

@media screen and (min-width:321px) and (max-width:375px){}
@media screen and (min-width:376px) and (max-width:425px){}
@media screen and (min-width:426px) and (max-width:768px){}
@media screen and (min-width:769px) and (max-width:1024px){}
@media screen and (min-width:1025px) and (max-width:1440px){}